// Singularity's “user bind control” feature 

report.enabled = true
dumpHashes = true

params.pubdir = 'out'
params.chr_map = ""
params.seq_platform = 'ILLUMINA'
params.pubdir = 'out'
params.min_cov = 1
params.downsampling = false
params.snpEff_download = true
params.ml_tree_bool = true
params.collect_GVCFs = false
params.outgroup = '' // must be an ID of a read file pair in the .csv

// more info on filtering:
// https://gatk.broadinstitute.org/hc/en-us/articles/360035531012--How-to-Filter-on-genotype-using-VariantFiltration
// Hard filtering options for GATK VariantFiltration 

filter {
	name1 = '"QD2"'
	expr1 = '"QD < 2.0"'
	name2 = '"FS60"'
	expr2 = '"FS > 60.0"'	
	name3 = '"MQ40"'
	expr3 = '"MQ < 40.0"'
	name4 = '"RS8.0"'
	expr4 = '"ReadPosRankSum < --8.0"'
	name5 = '"MQRS12.5"'
	expr5 = '"MQRankSum < 12.5"'
	name6 = '"DP4"'
	expr6 = '"DP < 4.0"'
}

params.filter = filter

// Computational/ Performance

// Environment

params.memory_int = 50

env {
	TMPDIR='tmp/'
	NXF_OPTS="-Xms500M -Xmx16G"
}

executor {
	name = 'slurm'
	queueSize = 50
	submitRateLimit = '25/1min'
}

singularity {
        enabled = true
        cacheDir = '../containers/'
}

profiles {
	local {
		process.executor = 'local'
	}
	standard {
		process.executor = 'slurm'
		//process.clusterOptions = '-p fat'
		process.clusterOptions = '-p medium'
		process.scratch = true
	}
}
//process.errorStrategy = 'ignore'

process {
	withLabel: 'fastp' {
		cpus   = 4
		memory = 8.GB
		time   = 2.h
	}
	withLabel: 'mini' {
		cpus   = 2
		memory = 4.GB
		time   = 2.h
	}
	withLabel: 'small' {
		cpus   = 4
		memory = 8.GB
		time   = 4.h
	}
	withLabel: 'medium' {
		cpus   = 8
		memory = 24.GB
		time   = 8.h
	}
	withLabel: 'intense' {
		cpus   = 24
		memory = 96.GB
		time   = 12.h
	}
	withLabel: 'medium_node' {
		cpus   = 96
		memory = 384.GB
		time   = 48.h
		clusterOptions = '-p medium'
	}
}

